extends layout

block content

	.section.aboutSection
		.content
			
			h1.commun-title #{title}

			.portfolio

				// Single portfolio
				article.portfolioBox
					.portfolioBox-image(style="background-image:url(/images/portfolio-m4d.png);")
						.portfolioBox-link
							a(href='http://www.farawayjourney.com', target='_blank')
					.portfolioBox-options
						.portfolioBox-options-title
							a(href='http://www.farawayjourney.com', target='_blank')
								h4 Music4deejays 2015
						ul.portfolioBox-options-buttons
							li
								a(href='http://www.music4deejays.com', target="_blank")
									span.icon-link

				// Single portfolio
				article.portfolioBox
					.portfolioBox-image(style="background-image:url(/images/portfolio-m4d-mobile.png);")
						.portfolioBox-link
							a(href='http://www.farawayjourney.com', target='_blank')
					.portfolioBox-options
						.portfolioBox-options-title
							a(href='http://www.farawayjourney.com', target='_blank')
								h4 Music4deejays 2015 - Versi贸n para m贸viles &amp; tabletas
						ul.portfolioBox-options-buttons
							li
								a(href='http://www.farawayjourney.com', target="_blank")
									span.icon-link

				// Single portfolio
				article.portfolioBox
					.portfolioBox-image(style="background-image:url(/images/portfolio-daniel.png);")
						.portfolioBox-link
							a(href='http://www.farawayjourney.com', target='_blank')
					.portfolioBox-options
						.portfolioBox-options-title
							a(href='http://www.farawayjourney.com', target='_blank')
								h4 Far Away Journey
						ul.portfolioBox-options-buttons
							li
								a(href='http://www.farawayjourney.com', target="_blank")
									span.icon-link

				// Single portfolio
				article.portfolioBox
					.portfolioBox-image(style="background-image:url(/images/portfolio-daniel-mobile.png);")
						.portfolioBox-link
							a(href='http://www.farawayjourney.com', target='_blank')
					.portfolioBox-options
						.portfolioBox-options-title
							a(href='http://www.farawayjourney.com', target='_blank')
								h4 Far Away Journey - Versi贸n para m贸viles &amp; tabletas
						ul.portfolioBox-options-buttons
							li
								a(href='http://www.farawayjourney.com', target="_blank")
									span.icon-link
