.footer
	.footer-background
	.footer-top
		.footer-content
			.footer-box
				h2.footer-title Bienvenido a Landcreativa
				p.footer-text(style='margin-bottom:1em;') Agencia de diseño web, diseño gráfico, SEO y marketing digital. Trabajamos con empresas, particulares y autonomos para llevar su negocio a internet.

				ul.footer-map
					li
						a(href='/') Portada de la web
					li
						a(href='/nosotros') ¿Quiénes somos?
					li
						a(href='/services') Nuestros servicios
				ul.footer-map
					li
						a(href='/casos_exito') Casos de éxito
					li
						a(href='/blog') Blog Corporativo
					li
						a(href='/contacta') Contáctanos

				//- - i = 0; 
				//- ul.footer-hotlinks
				//- 	each link, name in content.menu
				//- 		li
				//- 			a(href='#{link}') #{name}
				//- 	//- i++

			.footer-box 
				h2.footer-title ¿Quieres hacer crecer tu negocio?
				.footer-text Subscríbete y te enseñaremos a posicionar tu marca, mejorar tu página web y desarrollar estrategias de marketing efectivas. Consigue resultados reales desde hoy mismo.
					.footer-form

						// Begin MailChimp Signup Form 
						#mc_embed_signup
							form(action='//landcreativa.us8.list-manage.com/subscribe/post?u=e36c74a488cae8a92e7872fb3&amp;id=6baea7a6c9', method='post', name='mc-embedded-subscribe-form',target='__blank', novalidate)#mc-embedded-subscribe-form.validate

								#mc_embed_signup_scroll
									.mc-field-group
										label(style='display:none', for='mce-EMAIL') Email Address
										input(type='email', value='', placeholder='Introduce tu email', name='EMAIL').required.email#mce-EMAIL
									#mce-responses.clear
										.response(style="display:none;")#mce-error-response
										.response(style="display:none;")#mce-success-response
										// real people should not fill this in and expect good things - do not remove this or risk form bot signups

									div(style='position: absolute; left: -5000px;')
										input(type="text", name="b_e36c74a488cae8a92e7872fb3_6baea7a6c9", tabindex="-1", value="")

									.clear
										input(type="submit", value="¡Sí! Apúntame", name="subscribe")#mc-embedded-subscribe.button

						// End mc_embed_signup 

			.footer-box.footer-nomargin 
				h2.footer-title Ponte en contacto

				ul.footer-hotlinks(style='width:100%;')
					li.importantBtn
						a(href='/contacta') Formulario de contacto
					li
						a info@landcreativa.com
					li
						a asistencia@landcreativa.com
					li
						a prensa@landcreativa.com 
					li
						a(href='http://www.twitter.com/landcreativa', target='_blank') Twitter
					li
						a(href='http://www.facebook.com/landcreativa', target='_blank') Facebook  

script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(type='text/javascript', src='/js/jquery.easing.1.3.js')
script(type='text/javascript', src='/js/slider.js')
script(type='text/javascript', src='/js/animations.js')
 
script(type='text/javascript').
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-48129985-1', 'auto');
	ga('send', 'pageview');
