extends layout

block content

	.slider#slider
		// Buttons for select the slide number
		ul.slider-selector

		// Buttons to go previous and right on slide
		ul.slider-navigation

			li.slider-navigation-left
				a
					span.icon-angle-left
			li.slider-navigation-right
				a
					span.icon-angle-right

		// Slides of the slider	
		ul.slider-slides
			//-- <li> last class is the effect (fading, barTop, square)
			
			//-- Single Slide
			li.fading.slider-slides-singleSlide
				//- Content of one slide
				.slider-slides-singleSlide-content
					.blackContent
						.slider-slides-singleSlide-content-minilogo
							div
						h2.slider-slides-singleSlide-content-title ¡Bienvenid@ a Landcreativa!
						p.slider-slides-singleSlide-content-text Expertos en páginas web &amp; marketing digital. Trabajamos con autonomos, empresas y particulares que quieren construir su negocio online de éxito.
						a(href="/nosotros").slider-slides-singleSlide-content-link Descubre cómo podemos ayudarte

				//- White mask
				.slider-slides-singleSlide-whitemaskIntense

				//- Wallpaper mask
				.slider-slides-singleSlide-wallpaper
					div.blurred(style='background-image:url(/images/desk.jpg);')
			
			//-- Single Slide
			li.fading.slider-slides-singleSlide
				//- Content of one slide
				.slider-slides-singleSlide-content
					.whiteContent
						h2.slider-slides-singleSlide-content-title Creamos páginas web adaptas a tu negocio y enfocadas en incrementar tus ventas.
						p.slider-slides-singleSlide-content-text Nos encanta pensar en nuestros clientes y ayudarles a crear negocios online de éxito. Por ello, tenemos varios packs que podrás elegir según el negocio que tienes pensado montar. 
						a(href="/promociones/15 verano").slider-slides-singleSlide-content-link ¡Quiero ver los servicios!
			
				.slider-slides-singleSlide-wallpaper
					div(style='background-image:url(/images/wordpress.jpg);')
			
			//-- Single Slide
			li.fading.slider-slides-singleSlide
				//- Content of one slide
				.slider-slides-singleSlide-content
					.whiteContent
						h2.slider-slides-singleSlide-content-title ¿Quieres hacer crecer tu negocio?
						p.slider-slides-singleSlide-content-text Subscríbete y te enseñaremos a posicionar tu marca, mejorar tu página web y desarrollar estrategias de marketing efectivas.
						a(href='http://eepurl.com/buMVqr', target='_blank').slider-slides-singleSlide-content-link ¡Sí! Apúntame
			
				//- Black mask
				.slider-slides-singleSlide-blackmask

				.slider-slides-singleSlide-wallpaper
					div(style='background-image:url(/images/desktop3.jpg);')
			
block extraScripts
	script(type='text/javascript').
		$('#slider .slider-slides').DDSlider({

			prevSlide: '.slider-navigation-left',
			nextSlide: '.slider-navigation-right',
			selector: '.slider-selector'

		});
