
include ./header.jade
body
	include ./headerCab.jade
	// Starting the content
	
	block content 
	
	// Includes the footer
	block footer
		include ./footer.jade
	
	// This is used if some pages want to load some specific scripts
	block extraScripts

