extends layout

block content

	section.section.serviciosSection
		.content

			h1.commun-title #{title}

			// Loading script depending the page we are.
			script(type='text/javascript', src='/js/#{scriptName}.js')

			include ./services_communTab.jade

			// Dar la posibilidad que en otros servicios puedan incluir código propio
			block serviciosContent

