
.products
	.products-tab

		li.products-tab-item.notransition
			a(href='/servicios/empresas', onclick="changeTab(0); return false;").notransition
				span E
				div
					p(style='display:none') Diseño web
					h3 Diseño web Empresas

		li.products-tab-item.notransition
			a(href='/servicios/particulares', onclick="changeTab(1); return false;").notransition
				span P
				div
					p(style='display:none') Diseño web
					h3 Diseño web Particulares

		li.products-tab-item.notransition
			a(href='/servicios/marketing', onclick="changeTab(2); return false;").notransition
				span P
				div
					p(style='display:none') SEO &
					h3 Marketing

	// Content of the products

	.products-content 



		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.products-content-box

			// Single product
			article.product
				.productBox
					.productBox-image(style='background-image:url("/images/service_silver.png");')
					.productBox-title Paquete Executive
					.productBox-subtitle Sitios corporativos, blogs...
					p
						a(href='#').productBox-button.productBox-button-companies 
							¡Quiero este pack!

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales

			// Single product
			article.product
				.productBox
					.productBox-image(style='background-image:url("/images/service_gold.png");')
					.productBox-title Paquete business
					.productBox-subtitle Sitios corporativos, blogs...
					p
						a(href='#').productBox-button.productBox-button-companies 
							¡Quiero este pack!

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales

			// Single product
			article.product
				.productBox
					.productBox-image(style='background-image:url("/images/service_premium.png");')
					.productBox-title Paquete First Class
					.productBox-subtitle Sitios corporativos, blogs...
					p
						a(href='#').productBox-button.productBox-button-companies 
							¡Quiero este pack!

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales


		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.products-content-box

			// Single product
			article.product
				.productBox
					.productBox-image(style='background-image:url("/images/service_silver.png");')
					.productBox-title Paquete Silver
					.productBox-subtitle Para los que empiezan
					p
						a(href='#').productBox-button.productBox-button-personal 
							¡Quiero este pack!

					p We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales

			// Single product
			article.product
				.productBox
					.productBox-image(style='background-image:url("/images/service_gold.png");')
					.productBox-title Paquete Gold
					.productBox-subtitle Lleva tu web al siguiente nivel
					p
						a(href='#').productBox-button.productBox-button-personal 
							¡Quiero este pack!

					p We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales

			// Single product
			article.product
				.productBox
					.productBox-image(style='background-image:url("/images/service_premium.png");')
					.productBox-title Paquete Premium
					.productBox-subtitle Para los más exigentes
					p
						a(href='#').productBox-button.productBox-button-personal 
							¡Quiero este pack!

					p We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales


		////////////////////////////
		// PAQUETE DE 3 PRODUCTOS //
		////////////////////////////

		.products-content-box

			// Single product
			article.product
				.productBox
					.productBox-title Paquete Silver
					.productBox-subtitle Para los que empiezan
					p
						a(href='#').productBox-button.productBox-button-marketing 
							¡Quiero este pack!

					p We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales

			// Single product
			article.product
				.productBox
					.productBox-title Paquete Gold
					.productBox-subtitle Lleva tu web al siguiente nivel
					p
						a(href='#').productBox-button.productBox-button-marketing 
							¡Quiero este pack!

					p We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales

			// Single product
			article.product
				.productBox
					.productBox-title Paquete Premium
					.productBox-subtitle Para los más exigentes
					p
						a(href='#').productBox-button.productBox-button-marketing 
							¡Quiero este pack!

					p We build beautiful, modern websites that meet the goals of our clients and the needs of their customers. All of our sites are mobile and tablet friendly.

					.productBox-featureList
						li Dominio gratis con un plan anual
						li 300 temas comerciales y personales
