/***********************************/
/***********************************/
/************ FUNCTIONS *************/
/***********************************/
/***********************************/
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
@font-face {
  font-family: 'landcreativa';
  src: url('././../fonts/landcreativa.eot?-sa2ysk');
  src: url('././../fonts/landcreativa.eot?#iefix-sa2ysk') format('embedded-opentype'), url('././../fonts/landcreativa.ttf?-sa2ysk') format('truetype'), url('././../fonts/landcreativa.woff?-sa2ysk') format('woff'), url('././../fonts/landcreativa.svg?-sa2ysk#landcreativa') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'landcreativa';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-credit:before {
  content: "\e609";
}
.icon-banknote:before {
  content: "\e60a";
}
.icon-wallet:before {
  content: "\e60b";
}
.icon-coffee4:before {
  content: "\e608";
}
.icon-map:before {
  content: "\e601";
}
.icon-coffee3:before {
  content: "\e607";
}
.icon-map2:before {
  content: "\e602";
}
.icon-coffee2:before {
  content: "\e606";
}
.icon-location:before {
  content: "\e603";
}
.icon-location2:before {
  content: "\e604";
}
.icon-target:before {
  content: "\e605";
}
.icon-blog:before {
  content: "\e600";
}
.icon-mail:before {
  content: "\f003";
}
.icon-options:before {
  content: "\f00a";
}
.icon-menu_dropdown:before {
  content: "\f039";
}
.icon-share:before {
  content: "\f045";
}
.icon-slider_left:before {
  content: "\f053";
}
.icon-slider_right:before {
  content: "\f054";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-credit-card:before {
  content: "\f09d";
}
.icon-link:before {
  content: "\f0c1";
}
.icon-menu_dropdown2:before {
  content: "\f0c9";
}
.icon-money:before {
  content: "\f0d6";
}
.icon-up:before {
  content: "\f0d8";
}
.icon-down:before {
  content: "\f0dd";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-menu-g:before {
  content: "\f141";
}
.icon-menu-g-vertical:before {
  content: "\f142";
}
.icon-youtube_ok:before {
  content: "\f167";
}
.icon-youtube:before {
  content: "\f16a";
}
.icon-spotify:before {
  content: "\f1bc";
}
.icon-paperplane-filled:before {
  content: "\f1d8";
}
.icon-paperplane:before {
  content: "\f1d9";
}
.icon-toggle-off:before {
  content: "\f204";
}
.icon-toggle-on:before {
  content: "\f205";
}
.icon-angellist:before {
  content: "\f209";
}
.icon-medium:before {
  content: "\f23a";
}
body {
  background: #ffffff;
  color: #222222;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
body p,
body h1,
body h2,
body h3,
body h4,
body ul,
body li,
body a {
  margin: 0;
  padding: 0;
  color: #222;
}
body a {
  color: #3695ed;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
body ul {
  list-style: none;
}
body div {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
body-overflow {
  overflow: hidden;
}
.header {
  width: 100%;
  height: 80px;
  transition: 0.3s;
  position: fixed;
  background: #ffffff;
  z-index: 100;
  top: 0;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08);
}
.header-int {
  height: 100%;
  position: relative;
}
@media all and (min-width: 0) {
  .header-int {
    margin: auto 1.5em;
  }
}
@media all and (min-width: 600px) {
  .header-int {
    margin: auto 2em;
  }
}
@media all and (min-width: 1000px) {
  .header-int {
    width: 1000px;
    margin: 0 auto;
  }
}
.header-logo {
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  position: absolute;
  left: 1.5em;
  left: 0;
  vertical-align: middle;
  margin-top: 1px;
}
.header-logo-iso {
  width: 19px;
  height: 19px;
  margin-top: -0.7px;
  display: inline-block;
  background: #3695ed;
  background: url(././../images/iso.png) 50% 50% no-repeat;
  background-size: auto 100%;
  margin-right: 0;
  float: left;
}
.header-logo-text {
  display: inline-block;
  float: left;
}
.header-logo-text h1 {
  margin: 0 10px;
  color: #3695ed;
  font-size: 22px;
  line-height: 22px;
  margin-top: -2px;
}
.header-logo-text h1 span {
  font-size: 0.7em;
  display: none;
}
.header-mobilemenu {
  top: 0;
  right: 0;
  border: 0;
  position: absolute;
  margin-right: -1.5em;
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .header-mobilemenu {
    margin-right: -2em;
  }
}
.header-mobilemenu-button {
  width: 80px;
  height: 80px;
  outline: 0;
  top: 0;
  right: 0;
  border: 0;
  background: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */

}
@media all and (min-width: 1000px) {
  .header-mobilemenu-button {
    display: none !important;
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  }
}
.header-mobilemenu-button.selected {
  background: #f3f3f3;
  background:#E0E0E0;
}
.header-mobilemenu-button.selected:before {
  position: absolute;
  top: 100%;
  left: 1px;
  right: 1px;
  width: 100%;
  height: 12px;
  margin-top: -10px;
  background: #f3f3f3;
  content: '';
  z-index: 1;
}
.header-mobilemenu-button span:before {
  font-size: 1.5em;
  color: #222222;
  margin-top: 5px;
  display: block;
}
.header-mobilemenu-dropdown {
  width: 220px;
  min-height: 380px;
  max-height: 100%;
  padding: 0;
  padding: 0;
  top: 100%;
  right: 0;
  position: absolute;
  display: none;
  text-align: right;
  background: #f3f3f3;
  border-top: 0;
  border-right: 0;
  -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.1);
}
.header-mobilemenu-dropdown-link.selected {
  background: rgba(255, 255, 255, 0.3);
}
.header-mobilemenu-dropdown-link a {
  font-size: 1.3em;
  display: block;
  padding: .8em 1.3em;
  color: #222222;
  border-top: 1px solid #dfdfdf;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.header-mobilemenu-dropdown-socialnetworks {
  background: #ffffff;
  border-top: 1px solid #ffffff;
}
.header-mobilemenu-dropdown-socialnetworks:nth-last-child(1) {
  border: 0;
}
.header-desktopmenu {
  width: 630px;
  height: 100%;
  padding: 0;
  display: none;
  margin: 0 auto;
  text-align: center;
  border-right: 1px solid #f4f4f4;
  border-left: 1px solid #f4f4f4;
}
@media all and (min-width: 1000px) {
  .header-desktopmenu {
    display: block;
  }
}
.header-desktopmenu:hover a {
  color: rgba(34, 34, 34, 0.498039);
}
.header-desktopmenu:hover a:hover {
  color: rgba(34, 34, 34, 0.9);
}
.header-desktopmenu-link {
  display: inline-block;
  margin-right: -4px;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  margin-top: 1px;
}
.header-desktopmenu-link a {
  padding: 15px 13px;
  display: block;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: #676767;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2em;
  font-style: normal;
  color: #222;
  position: relative;
}
.header-desktopmenu-link a:after {
  width: 40px;
  height: 3px;
  background: #ffffff;
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  bottom: 0;
}
.header-desktopmenu-link.selected {
  /* background: #f9f9f9; */
}
.header-desktopmenu-link.selected a:after {
  background: #cecece;
}
.header-networks {
  top: 50%;
  width: 162px;
  -webkit-transform: translate(0%, -50%);
  -moz-transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
  -o-transform: translate(0%, -50%);
  position: absolute;
  right: 0;
}
@media all and (max-width: 1000px) {
  .header-networks {
    display: none;
  }
}
.header-networks ul li {
  display: inline-block;
  margin-left: 2px;
}
.header-networks ul li:first-child {
  margin-left: 0 !important;
}
.header-networks ul li a {
  width: 35px;
  height: 30px;
  display: block;
  font-size: 1.2em;
  color: #676767;
  border-radius: 100%;
  text-align: center;
  padding-top: 10px;
}
.header-networks ul li a:hover {
  background: #f4f4f4;
}
.header-networks ul li a:before {
  font-size: 1em;
}
.section {
  margin-top: 0;
  position: relative;
}
.section .content {
  margin-top: 80px;
  padding: 2.5em 1.5em;
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .section .content {
    padding: 2em;
  }
}
@media (min-width: 1000px) {
  .section .content {
    width: 1000px;
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    padding: 3em 0;
    padding-bottom: 5em;
  }
}
.commun-guide {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
}
@media (min-width: 1000px) {
  .commun-guide {
    margin-top: -80px;
  }
}
.commun-title {
  width: 100%;
  margin: 0 0 1.5em 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  font-style: normal;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}
@media (min-width: 1000px) {
  .commun-title {
    margin: 0 0 1.9em 0;
  }
}
.commun-subtitle {
  width: 100%;
  padding: 0;
  margin: 0.6em 0 1em 0;
  margin-bottom: 1em !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.commun-text {
  width: 100%;
  padding: 0;
  margin: 0.6em 0 1em 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
}
.commun-button {
  width: 100%;
  height: auto;
  padding: 1.4em 0;
  display: block;
  color: #ffffff;
  background: #2a79c2;
  border-bottom: 5px solid #11508a;
  font-size: 1em;
  font-style: bold;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1.5em;
  margin-bottom: 0em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.commun-button:hover {
  background: #3b8bd5;
}
@media (max-width: 600px) {
  
}
.footer {
  width: 100%;
  display: inline-block;
  margin-top: 0;
  position: relative;
  overflow: hidden;
}
.footer-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: url(/images/desk.jpg);
  background: #f0f0f0;
  background:#F7F5F5;
  background-size: cover;
  background-position: 50% 20%;
  z-index: -1;
}
/*
.footer-background:before {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.7);
  content: '';
  z-index: 0;
}
*/
.footer-top {
  padding: 4em 0;
  z-index: 10;
  position: relative;
  z-index: 10;
}
@media all and (max-width: 600px) {
  .footer-top {
    padding: 1.5em 0;
  }
}
@media all and (max-width: 1000px) {
  .footer-top .footer-emptytitle {
    display: none;
  }
}
.footer-bottom {
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.5);
  background: rgba(59, 59, 59, 0.3);
  text-align: right;
  z-index: 10;
}
.footer-bottom-left {
  float: left;
}
.footer-bottom-left p {
  opacity: .4;
  text-align: left;
}
.footer-bottom-right {
  display: inline-block;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}
.footer-bottom-right p {
  opacity: .4;
  text-align: center;
}
.footer-bottom-right p a {
  margin-left: 1em;
}
@media (min-width: 1000px) {
  .footer-bottom-right {
    width: auto;
    margin-top: 0;
    text-align: right;
  }
}
@media all and (max-width: 600px) {
  .footer-content {
    padding: 0 1.5em;
  }
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .footer-content {
    padding: 0 2em;
  }
}
@media (min-width: 1000px) {
  .footer-content {
    width: 1000px;
    padding: 0;
    margin: 0 auto;
  }
}
.footer-box {
  width: 100%;
  margin-right: 0;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2em;
  z-index: 10;
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .footer-box {
    width: 49%;
    margin-right: 1%;
  }
}
@media (min-width: 1000px) {
  .footer-box {
    width: 31.7%;
    margin-right: 2%;
    margin-bottom: 0;
  }
}
.footer-nomargin {
  margin-right: 0;
}
.footer-emptytitle {
  width: 100%;
  display: block;
  height: 20px;
  margin-bottom: 1em;
}
.footer-title {
  width: 100%;
  height: 20px;
  padding: 0;
  margin: .6em 0 1em 0;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  text-align: left;
  letter-spacing: 0;
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  color: #0C59A0;
  color: #fff;
  color: #000;
  opacity: .9;
}
.footer-text {
  color: #222;
  color: #fff;
  color: #000;
  opacity: .6;
}
.footer-text a {
  color: #222;
  color: #0C59A0;
  color: #fff;
}
.footer-map {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
}
.footer-map li a {
  padding: .3em 0;
  opacity: .6;
  color: #222;
  color: #fff;
  color: #000;
  display: block;
}
.footer-hotlinks {
  width: 50%;
  display: inline-block;
  margin-right: -4px;
  margin-top: -0.3em;
}
.footer-hotlinks li.importantBtn {
 text-decoration:underline;
}
.footer-hotlinks li a {
  padding: .3em 0;
  opacity: .6;
  color: #222;
  color: #fff;
  color: #000;
  display: block;
}
.footer-form {
  margin-top: 1.5em;
}
.footer-form fieldset {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.footer-form fieldset p {
  width: 100%;
  float: left;
  font-size: 1em;
  margin-bottom: 1em;
}
.footer-form input,
.footer-form textarea {
  max-width: 100%;
  width: 100%;
  height: 40px;
  border: 0;
  float: left;
  background: transparent;
  margin: 0;
  padding: 0;
  padding: 5px 0;
  outline: 0;
  letter-spacing: 1px;
  text-align: center;
  border: 1px dotted #ffffff;
  border: 2px solid #000000;
  border:2px solid #5E7B1B;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.footer-form input::-webkit-input-placeholder {
  color: #000;
}
.footer-form input:-moz-placeholder {
  /* Firefox 18- */

  color: #000;
}
.footer-form input::-moz-placeholder {
  /* Firefox 19+ */

  color: #000;
}
.footer-form input:-ms-input-placeholder {
  color: #000;
}
.footer-form input[type="submit"] {
  border: 0;
  width: 150px;
  background-color: #0061c3;
  background-color: #ECECEC;
  background: #567e00;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  color: rgba(34, 34, 34, 0.6);
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 0 #cccccc;
  -moz-box-shadow: inset 0 0 0 0 #cccccc;
  box-shadow: inset 0 0 0 0 #cccccc;
  letter-spacing: 1.7px;
  padding: 5px 0;
  left: 50%;
  position: relative;
  margin-top: 1em;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  -ms-transition: all 400ms;
  transition: all 400ms;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.footer-form input[type="submit"]:hover {
  color: #fff;
  background: #72A209;
}
.footer-form fieldset textarea {
  padding: 1em 0;
}
.footer-form .boton {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.slider {
  width: 100%;
  height: 340px;
  margin-top: 80px;
  background: #f4f4f4;
  position: relative;
}
@media all and (max-width: 600px) {
  .slider .slider-selector {
    display: none;
  }
}
@media all and (min-width: 600px) {
  .slider {
    height: 450px;
  }
  .slider .slider-selector {
    display: none;
  }
}
@media all and (min-width: 800px) {
  .slider {
    height: 600px;
  }
}
@media all and (min-width: 1000px) {
  .slider {
    height: 100vh;
    margin-top: 0;
  }
  .slider .slider-selector {
    display: block;
  }
}
.slider ul.slider-selector {
  left: 50%;
  bottom: 5%;
  z-index: 2;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  -webkit-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  transform: translatex(-50%);
}
.slider ul.slider-selector li {
  width: 15px;
  height: 15px;
  background: rgba(234, 234, 234, 0.7);
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 8px;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (min-width: 1000px) {
  .slider ul.slider-selector li {
    margin-right: 10px;
  }
}
.slider ul.slider-selector li:last-child {
  margin-right: 0;
}
.slider ul.slider-selector li.current {
  margin-bottom: 0;
  width: 20px;
  height: 20px;
  background: rgba(234, 234, 234, 0.7);
}
.slider ul.slider-selector li.current:before {
  width: 8px;
  height: 8px;
  background: transparent;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media all and (max-width: 600px) {
  .slider ul.slider-navigation {
    display: none;
  }
}
.slider ul.slider-navigation li {
  width: 60px;
  background: transparent;
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 3;
}
@media all and (min-width: 1000px) {
  .slider ul.slider-navigation li {
    width: 90px;
  }
}
.slider ul.slider-navigation li a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
}
.slider ul.slider-navigation li a span {
  width: 100%;
  height: 100px;
  position: absolute;
  margin-top: -50px;
  top: 50%;
  text-align: center;
}
.slider ul.slider-navigation li a span:before {
  top: 50%;
  color: #ffffff;
  font-size: 50px;
  position: absolute;
  margin-right: -4px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider ul.slider-navigation li a:hover {
  background: rgba(0, 0, 0, 0.05);
}
.slider ul.slider-navigation .slider-navigation-left {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0+100 */

  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#1a000000', endColorstr='#00000000', GradientType=1);
  left: 0;
}
.slider ul.slider-navigation .slider-navigation-right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */

  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=1);
  right: 0;
}
.slider ul.slider-slides {
  width: 100%;
  height: 100%;
  z-index: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  position: relative;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute;
}
.slider ul.slider-slides .slider-slides-singleSlide {
  width: 100%;
  height: 100%;
  z-index: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  margin-right: -4px;
  display: none;
  position: absolute !important;
}
.slider ul.slider-slides .slider-slides-singleSlide.current {
  display: block !important;
  z-index: 2 !important;
}
.slider ul.slider-slides .slider-slides-singleSlide.next {
  display: block;
  z-index: 1 !important;
}
.slider ul.slider-slides .slider-slides-singleSlide-content {
  left: 1.5em;
  right: 1.5em;
  bottom: 2em;
  z-index: 3;
  position: absolute;
}
@media all and (min-width: 600px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content {
    bottom: 50%;
    left: 50%;
    right: inherit;
    text-align: center;
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
  }
}
@media all and (min-width: 800px) and (max-width: 1000px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content {
    width: 700px;
    height: 200px;
  }
}
@media all and (min-width: 1000px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content {
    width: 700px;
    height: auto;
    padding-top: 80px;
  }
}
.slider ul.slider-slides .slider-slides-singleSlide-content-minilogo {
  width: 100%;
  height: 70px;
  float: left;
  margin-bottom: 1.5em;
}
.slider ul.slider-slides .slider-slides-singleSlide-content-minilogo div {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  background: #3695ed;
  background: url(././../images/iso.png) 50% 50% no-repeat;
  background-size: auto 100%;
}
@media all and (max-width: 600px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content-minilogo div {
    display: none;
  }
}
.slider ul.slider-slides .slider-slides-singleSlide-content-title {
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
}
@media all and (min-width: 1000px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content-title {
    font-weight: 300;
    font-size: 3em;
  }
}
.slider ul.slider-slides .slider-slides-singleSlide-content-text {
  font-size: 1em;
  margin-top: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
@media all and (min-width: 1000px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content-text {
    width: 430px;
    font-size: 1.4em;
    margin: 0 auto;
    margin-top: 0.8em;
  }
}
.slider ul.slider-slides .slider-slides-singleSlide-content-link {
  background: #3695ed;
  padding: 0.7em 1em;
  display: inline-block;
  margin-top: 1.5em;
  letter-spacing: .6px;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
@media all and (min-width: 1000px) {
  .slider ul.slider-slides .slider-slides-singleSlide-content-link {
    margin-top: 2em;
    padding: 0.9em 1.5em;
    font-size: 1.3em;
  }
}
.slider ul.slider-slides .slider-slides-singleSlide-content-link:hover {
  background: #449cee;
}
.slider ul.slider-slides .slider-slides-singleSlide-content .blackContent .slider-slides-singleSlide-content-title,
.slider ul.slider-slides .slider-slides-singleSlide-content .blackContent .slider-slides-singleSlide-content-text {
  color: #000;
}
.slider ul.slider-slides .slider-slides-singleSlide-content .blackContent .slider-slides-singleSlide-content-link {
  color: #ffffff;
}
.slider ul.slider-slides .slider-slides-singleSlide-content .whiteContent .slider-slides-singleSlide-content-title,
.slider ul.slider-slides .slider-slides-singleSlide-content .whiteContent .slider-slides-singleSlide-content-text,
.slider ul.slider-slides .slider-slides-singleSlide-content .whiteContent .slider-slides-singleSlide-content-link {
  color: #ffffff;
}
.slider ul.slider-slides .slider-slides-singleSlide-blackmask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}
.slider ul.slider-slides .slider-slides-singleSlide-whitemask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.92);
}
.slider ul.slider-slides .slider-slides-singleSlide-whitemaskIntense {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(255, 255, 255, 0.95);
}
.slider ul.slider-slides .slider-slides-singleSlide-wallpaper {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.slider ul.slider-slides .slider-slides-singleSlide-wallpaper .blurred {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.slider ul.slider-slides .slider-slides-singleSlide-wallpaper div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover !important;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.about {
  width: 100%;
}
.about img {
  width: 100%;
}
.about-middle {
  width: 100%;
}
.about-separator {
  margin-top: 2em;
}
.about-subtitle {
  letter-spacing: 0;
  text-transform: inherit;
  margin: 0;
  padding: 0;
  text-align:center;
}
.about-image {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.about-text {
  width: 100%;
  margin: .5em 0;
  margin-bottom: 1.2em;
  letter-spacing: 0;
  line-height: 24px;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
}
.about-text-nomargin {
  margin-bottom: 0;
}
.about-list {
  width: 100%;
  margin: .5em 0;
  list-style: none;
  position: relative;
  min-height: 30px;
}
.about-list a {
  margin: 0;
  float: left;
  margin-top: 0.4em;
  text-decoration: none;
}
.about-list a:hover {
  text-decoration: underline;
}
.about-list-text {
  letter-spacing: 0;
  line-height: 24px;
  font-size: 18px;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  display: inline-block;
  position: relative;
  margin-left: 45px;
  vertical-align: middle;
  margin-top: .3em;
}
.about-list-text span {
  margin-right: 0.3em;
}
.about-list-icon {
  width: 30px;
  min-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  background: #f4ffff;
  background: rgba(54, 149, 238, 0.05);
  background: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.6);
}
.about-list-icon span {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -52%);
  -moz-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  -o-transform: translate(-50%, -52%);
  color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.about-list-nomargin {
  margin-bottom: 0;
}
.about-link {
  text-align: center;
  margin: 0 auto;
  margin-top: 4em;
}
@media all and (min-width: 600px) {
  .about-link {
    width: 300px;
  }
}
@media all and (max-width: 600px) {
  .about-image {
    margin-bottom: 1.5em;
  }
  .about-image-computer {
    margin: 0 auto;
    margin-top: 1em;
    width: 260px;
    height: 190px;
  }
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .about-image-computer {
    margin: 0 auto;
    margin-top: 3em;
    width: 440px;
    height: 350px;
  }
  .about-image {
    height: 320px;
    margin-bottom: 1.5em;
  }
}
@media (min-width: 1000px) {
.about {
	text-align:center;
}
  .about-image {
    height: 350px;
  }
  .about-left,
  .about-right {
    width: 48%;
    display: inline-block;
    vertical-align: top;
  }
  .about-left {
    margin-right: 3%;
  }
  .about-link {
    margin-top: 5em;
  }
}
.services {
  min-height: 500px;
}
.services-buypannel {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  width: 998px;
  z-index: 10;
  display: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media all and (min-width: 1000px) {
  .services-buypannel.stuck {
    position: fixed;
    bottom: 0;
    display: block;
  }
  .services-buypannel.endpin {
    position: absolute;
    bottom: 0;
    display: block;
  }
}
.services-buypannel-buy {
  width: 33.333333333%;
  display: inline-block;
  margin-right: -4px;
  padding: 1em 0;
  position: relative;
}
.services-buypannel-buy span {
  margin: 0 1em;
  display: block;
}
.services-buypannel-buy span a {
  margin: 0;
  border-bottom: 0;
}
.services-buypannel-buy:first-child:before {
  display: none;
}
.services-buypannel-buy:before {
  width: 2px;
  margin-right: -1px;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(236, 236, 236, 0.5);
}
.services-tab {
  display: block;
  border-bottom: 0;
   -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 5px;
}
.services-tab-item {
  width: 33.55%;
  width: 33.333333333%;
  margin-right: -4px;
  display: inline-block;
  position: relative;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
  background:#F1F1F1;
 
}
@media all and (max-width: 600px) {
  .services-tab-item {
    backgrond:#fff;
  }
}
.services-tab li:nth-child(1) {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
.services-tab li:nth-child(3) {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}
.services-tab-item a {
  display: block;
  text-align: center;
  padding: 1.5em 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */

}
@media all and (min-width: 1000px) {
  .services-tab-item a {
    padding: 1.5em 1.5em;
  }
}
.services-tab-item span {
  width: 40px;
  height: 36px;
  vertical-align: middle;
  display: inline-block;
  background: #888888;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
  font-size: 1.6em;
  padding-top: 4px;
  color: #ffffff;
  margin-bottom: 0.2em;
  display:none;
}
@media all and (min-width: 1000px) {
  .services-tab-item span {
    margin-bottom: 0.3em;
  }
}
.services-tab-item-personal span {
  background: #c75d29;
}
.services-tab-item-companies span {
  background: #2a79c2;
}
.services-tab-item-marketing span {
  background: #bc9e26;
}
.services-tab-item div {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
@media all and (max-width: 600px) {
  .services-tab-item div {
    height: 40px;
  }
}
.services-tab-item div p {
  line-height: 10px;
  margin-top: 7px;
  color: #cecece;
  display: none;
}
@media (min-width: 1000px) {
  .services-tab-item div p {
    display: block;
    margin-top: 5px;
    line-height: 10px;
  }
}
.services-tab-item div h3 {
  font-size: 1em;
  font-style: bold;
  display: block;
  margin: 0 1em;
  position: relative;
}
@media (max-width: 600px) {
  .services-tab-item div h3 {
    top: 50%;
    margin: 0 0em;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
  }
}
@media (min-width: 1000px) {
  .services-tab-item div h3 {
    font-size: 1.3em;
  }
}
.services-tab-item:hover {
  background: #f6f6f6;
  background: #ffffff;
  /*
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
  background: #f6f6f6;
  background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #f6f6f6 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #f6f6f6 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff', GradientType=0);
  */
  background:#F1F1F1;
}
.services-tab-item-selected:hover,
.services-tab-item-selected {
  background: #fff !important;
  /* border:1px solid;
				border-color:@lightGrayBorder; */

  border-top: 0;
  border-bottom: 0;
}
.services-tab-item-selected a {
  border: 1px solid;
  border-color: #dfdfdf;
}
.services-tab-item-selected:before {
  border: 1px solid #E8E8E8;
  border-top-width: 4px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.services-tab-item-selected:after {
  height: 4px;
  z-index: 10;
  bottom: 0;
  left: 1px;
  right: 1px;
  content: '';
  background: #ffffff;
  margin-bottom: -2px;
  position: absolute;
}
.services-content {
  position: relative;
  text-align: center;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}
 @media (max-width: 600px) { 
  	.services-content {
  		border:0 !important;
  	}
  }
.services-content-box {
  display: none;
}
.services-content-box-showbox {
  display: block;
}
@media (min-width: 1000px) {
  .services-content-box {
    padding-bottom: 85px;
  }
}
@media (min-width: 1000px) {
  .services-content-azul .productBox:hover {
    background: #f4fcff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f4fcff 30%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f4fcff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f4fcff 30%);
    background: -o-linear-gradient(top, #ffffff 0%, #f4fcff 30%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f4fcff 30%);
    background: linear-gradient(to bottom, #ffffff 0%, #f4fcff 30%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4fcff', GradientType=0);
  }
  .services-content-orange .productBox:hover {
    background: #FFF7F4;
    background: -moz-linear-gradient(top, #ffffff 0%, #fff7f4 30%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fff7f4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fff7f4 30%);
    background: -o-linear-gradient(top, #ffffff 0%, #fff7f4 30%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fff7f4 30%);
    background: linear-gradient(to bottom, #ffffff 0%, #fff7f4 30%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#FFF7F4', GradientType=0);
  }
  .services-content-yellow .product:hover {
    background: -moz-linear-gradient(top, #ffffff 0%, #fffef4 30%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #fffef4));
    background: -webkit-linear-gradient(top, #ffffff 0%, #fffef4 30%);
    background: -o-linear-gradient(top, #ffffff 0%, #fffef4 30%);
    background: -ms-linear-gradient(top, #ffffff 0%, #fffef4 30%);
    background: linear-gradient(to bottom, #ffffff 0%, #fffef4 30%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#fffef4', GradientType=0);
  }
}
.services-separator {
  width: 100%;
  height: 2px;
  background: #EFEDED;
}
@media (min-width: 600px) and (max-width: 1000px) {
  .services-separator {
    display: none !important;
  }
}
@media (max-width: 1000px) {
  .services-separator {
    display: none !important;
  }
}
.services .product:first-child .productBox:before {
  background: red !important;
}
.services .product {
  width: 33.333333333%;
  display: inline-block;
  padding-bottom: 1em;
  margin-right: -4px;
  vertical-align: top;
  position: relative;
}
@media all and (max-width: 600px) {
  .services .product {
    width: 100%;
  }
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .services .product {
    width: 50%;
  }
  .services .product:nth-child(odd) .productBox {
    padding-left: 1.5em;
    padding-right: 0.75em;
  }
  .services .product:nth-child(even) .productBox {
    padding-left: 0.75em;
    padding-right: 1.5em;
  }
}
@media (min-width: 1000px) {
  .services .product:nth-child(1) .productBox:before {
    display: none;
  }
}
.services .productBox {
  position: relative;
  padding: 1.5em;
  display: block;
  padding-bottom: 500px;
  margin-bottom: -500px;
}
@media (max-width: 600px) {
	.services .productBox {
	padding-left:0;
  	padding-right:0;
	}
  }
@media (max-width: 1000px) {
  .services .productBox:before {
    display: none;
  }
}
.services .productBox:before {
  width: 2px;
  margin-right: -1px;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), rgba(236, 236, 236, 0.76) 30%, color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
}
.services .productBox p {
  width: 100%;
  margin: .5em 0 1.2em 0;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  letter-spacing: 0;
  line-height: 24px;
}
.services .productBox-image {
  width: 100%;
  height: 150px;
  margin-bottom: 1.5em;
  background: 50% 50% no-repeat;
  background-size: auto 100%;
}
.services .productBox-image-noscale {
  transform: scale(0);
}
.services .productBox-title {
  width: 100%;
  margin: .5em 0;
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  text-transform: none;
  letter-spacing: 0;
  line-height: 32px;
}
.services .productBox-subtitle {
  width: 100%;
  height: 32px;
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
  margin: 1.2em 0;
  text-align: center;
  position: relative;
}
.services .productBox-subtitle span {
  top: 50%;
  left: 0;
  right: 0;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.services .productBox-picture {
  width: 100%;
  height: 100px;
  background: red;
}
.services .productBox-include {
  position: relative;
  text-align: center;
  display: block;
}
.services .productBox-include span {
  background: #F3F3F3;
  background: rgba(236, 236, 236, 0.5);
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 1px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  font-size: 12px;
}
.services .productBox-include:before {
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  float: left;
  content: '';
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  background: #F3F3F3;
  background: rgba(236, 236, 236, 0.5);
}
.services .productBox-include.blue span {
  background: #D1E5F9;
}
.services .productBox-include.blue:before {
  background: #D1E5F9;
}
.services .productBox-include.orange span {
  background: #FFE7DA;
}
.services .productBox-include.orange:before {
  background: #FFE7DA;
}
.services .productBox-include.yellow span {
  background: #D1E5F9;
}
.services .productBox-include.yellow:before {
  background: #D1E5F9;
}
@media (min-width: 1000px) {
  .services .productBox-buy {
    display: none;
  }
}
@media (min-width: 1000px) {
  .services .productBox-buy-marketing {
    display: block !important;
  }
}
@media all and (min-width: 1000px) {
  .services .productBox-othersdescription {
    height: 200px;
    overflow: auto;
  }
}
.services .productBox-button {
  width: 100%;
  height: auto;
  padding: 1.3em 0;
  display: block;
  color: #ffffff;
  background: #4A4A4A;
  border-bottom: 5px solid #222222;
  font-size: 1em;
  font-style: bold;
  font-weight: 400;
  text-align: center;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.services .productBox-button-personal {
  background: #c75d29;
  border-bottom-color: #8a3911;
}
.services .productBox-button-personal:hover {
  background: #d56934;
}
.services .productBox-button-companies {
  background: #2a79c2;
  border-bottom-color: #11508a;
}
.services .productBox-button-companies:hover {
  background: #3386d3;
}
.services .productBox-button-marketing {
  background: #bc9e26;
  border-bottom-color: #8a7211;
}
.services .productBox-button-marketing:hover {
  background: #d1b02a;
}
.services .productBox-featureList {
  display: block;
}
.services .productBox-featureList li {
  width: 100%;
  display: inline-block;
  list-style: none;
  margin-bottom: 0.6em;
  padding-bottom: 0.6em;
  border-bottom: 1px dashed #f0f0f0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
.services .productBox-featureList li span {
  margin-right: 0.7em;
}
.portfolio {
  width: 100%;
}
.portfolioBox {
  width: 100%;
  position: relative;
  margin-bottom: 1.5em;
  -webkit-box-shadow: inset 0 0 30px 5px rgba(50, 50, 50, 0.28);
  -moz-box-shadow: inset 0 0 30px 5px rgba(50, 50, 50, 0.28);
  box-shadow: inset 0 0 30px 5px rgba(50, 50, 50, 0.28);
}
.portfolioBox:hover .portfolioBox-options {
  display: block;
}
.portfolioBox:nth-child(even) .portfolioBox-image {
  background-color: #222;
}
.portfolioBox-image {
  height: 200px;
  display: block;
  background: #f3f3f3;
  background-size: cover;
  position: relative;
}
@media all and (max-width: 600px) {
  .portfolioBox-image {
    background-position: 50% 0%;
    background-size: 140% auto ;
    left: 0;
    right: 0;
  }
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .portfolioBox-image {
    height: 320px;
  }
}
@media all and (min-width: 1000px) {
  .portfolioBox-image {
    height: 500px;
  }
}
.portfolioBox:hover .portfolioBox-link a {
  background: rgba(0, 0, 0, 0.5);
  background: rgba(54, 149, 237, 0.7);
  background: rgba(255, 255, 255, 0.7);
}
.portfolioBox-link a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.portfolioBox-options {
  height: 60px;
  display: block;
  position: relative;
  background: #f3f3f3;
  border: 1px solid #dfdfdf;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
@media all and (min-width: 1000px) {
  .portfolioBox-options {
    top: 50%;
    left: 50%;
    border: 0;
    max-width: 350px;
    height: auto;
    position: absolute;
    background: transparent;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: none;
  }
}
.portfolioBox-options-title {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: absolute;
  display: inline-block;
}
.portfolioBox-options-title a {
  width: 100%;
  height: 100%;
  display: block;
  vertical-align: top;
}
.portfolioBox-options-title h4 {
  margin-top: 1.27em;
  padding-left: 1.27em;
  overflow: hidden;
}
@media all and (max-width: 600px) {
  .portfolioBox-options-title h4 {
    height: 19px;
  }
}
@media all and (min-width: 1000px) {
  .portfolioBox-options-title h4 {
    color: #ffffff;
    color: #222222;
    opacity: .8;
    margin: .8em 0;
    padding: 0 1em;
  }
}
@media all and (min-width: 1000px) {
  .portfolioBox-options-title {
    width: 100%;
    color: #ffffff;
    height: auto;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
    margin-bottom: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
.portfolioBox-options-buttons {
  right: 0;
  position: absolute;
  display: inline-block;
}
@media all and (max-width: 1000px) {
  .portfolioBox-options-buttons {
    display: none;
  }
}
@media all and (min-width: 1000px) {
  .portfolioBox-options-buttons {
    width: 100%;
    left: 0;
    position: relative;
    margin: 0;
    text-align: center;
    display: none;
  }
}
.portfolioBox-options-buttons li {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-right: -4px;
  border-left: 1px solid #dfdfdf;
  text-align: center;
}
.portfolioBox-options-buttons li a {
  width: 100%;
  height: 100%;
  display: block;
}
.portfolioBox-options-buttons li span:before {
  padding-top: 21px;
  font-size: 24px;
  display: block;
  color: #a2a2a2;
}
@media all and (min-width: 1000px) {
  .portfolioBox-options-buttons li {
    background: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    margin-right: .5em;
  }
}
.contact {
  background: #F8F8F8;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 1.5em;
}
@media all and (min-width: 1000px) {
  .contact {
    margin-top: 1.5em;
  }
}
.contact-banner {
  width: 99%;
  min-height: 92px;
  padding: 1em 0;
  margin-top: 1.5em;
  border: 1px solid #dfdfdf;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.contact-banner:nth-child(2) {
  margin-top: 0;
}
@media all and (min-width: 1000px) {
  .contact-banner {
    width: 48.5%;
    margin-right: 2%;
    margin-top: 0;
  }
}
.contact-banner-image {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: no-repeat;
  background-size: auto 100%;
  background-image: none !important;
  background-position: 50% 0;
  vertical-align: middle;
  margin-left: 1em;
  text-align: center;
  float: left;
  position: absolute;
}
.contact-banner-image span:before {
  padding-top: 23px;
  display: block;
}
.contact-banner-image span:before {
  font-size: 50px;
  color: #3695ed;
  color: rgba(34, 34, 34, 0.5);
}
.contact-banner-info {
  vertical-align: middle;
  margin-left: 125px;
  margin-right: 1em;
}
.contact-banner-info h4 {
  font-size: 1.2em;
  color: rgba(34, 34, 34, 0.7);
  margin: 0;
  padding: 0;
  margin-bottom: 0.5em;
}
.contact-banner-info p {
  margin-bottom: 0.2em;
  color: rgba(34, 34, 34, 0.5);
  text-overflow: ellipsis;
}
.contact-banner img {
  width: 100%;
}
.contact-location {
  margin-right: 0% !important;
}
.contact-form {
  padding: 1em;
  display: block;
  margin-bottom: 2em !important;
}
@media all and (max-width: 600px) {
  .contact-form {
    padding: 2em 1em;
  }
}
@media all and (min-width: 670px) {
  .contact-form {
    width: 560px;
    margin: 0 auto;
    margin-top: 2em;
    padding: 3em 0;
    display: block;
  }
}
@media all and (min-width: 1000px) {
  .contact-form {
    width: auto;
    margin: 0 auto;
    margin: 0 2.5em;
    padding: 2em 0;
    display: block;
  }
}
.contact-form-subtitle {
  font-size: 1.2em;
  margin-bottom: 1em;
  opacity: .6;
  text-align: center;
}
@media all and (min-width: 600px) {
  .contact-form-subtitle {
    margin-bottom: 1.5em;
  }
}
.contact-form-separator {
  width: 100%;
  display: block;
}
.contact-form-roundresponse {
  /*
		width: 50px;
		height: 50px;
		width: 70px;
		height: 70px;
		*/

  text-align: center;
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: center;
}
@media all and (max-width: 600px) {
  .contact-form-roundresponse {
    margin-top: 1.2em;
  }
}
.contact-form-roundresponse span {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #f4f4f4;
  font-size: 2.1em;
  display: inline-block;
  color: #ffffff;
  padding: .8em;
}
.contact-form-roundresponse-green span {
  background: #61ed36;
}
.contact-form-roundresponse-red span {
  background: #ed3636;
}
.contact-form-loading {
  width: 40px;
  height: 40px;
  margin: 5em auto;
  background: url(../images/loading.gif) 50% 50%;
  background-size: 100%;
  display: none;
  -webkit-transition: all 3px;
  -moz-transition: all 3px;
  -o-transition: all 3px;
  -ms-transition: all 3px;
  transition: all 3px;
}
.contact-form-loading-appear {
  -ms-transform: scale(1);
  /* IE 9 */

  -webkit-transform: scale(1);
  /* Chrome, Safari, Opera */

  transform: scale(1);
  opacity: 1;
}
.contact-form-sent {
  display: none;
}
@media all and (min-width: 600px) {
  .contact-form-sent {
    width: 560px;
    margin: 0 auto;
    margin-top: 0;
    padding: 1em 0;
    padding-bottom: 0;
  }
}
.contact-form-content-disappear {
  -ms-transform: scale(0);
  /* IE 9 */

  -webkit-transform: scale(0);
  /* Chrome, Safari, Opera */

  transform: scale(0);
  opacity: 0;
}
.contact-form-messagetitle {
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: center;
}
.contact-form-message {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  text-align: center;
}
.contact-form-message i {
  margin-top: 0.5em;
  font-size: .8em;
  line-height: .8em;
}
.contact-form-field {
  margin: 0;
  padding: 0;
  border: 0;
  margin-bottom: 1em;
  text-align: center;
  display: block;
  height: auto;
}
@media all and (min-width: 1000px) {
  .contact-form-field {
    width: 32%;
    display: inline-block;
    margin-right: -4px;
    margin-left: 2%;
    vertical-align: middle;
  }
  .contact-form-field:first-child {
    margin-left: 0;
  }
  .contact-form-field-subject,
  .contact-form-field-message,
  .contact-form-field-button {
    width: 100%;
    margin-left: 0;
  }
}
.contact-form-field-text {
  font-size: 1em;
  margin-bottom: 0.5em;
  text-align: left;
  display: none;
}
.contact-form-field-text span {
  opacity: .5;
  font-style: italic;
}
.contact-form-field-element {
  width: 100%;
  min-height: 50px;
  position: relative;
  display: block;
  background: #ffffff;
}
.contact-form-field-element-input {
  color: #3695ed;
}
.contact-form-field-element-input,
.contact-form-field-element-textarea,
.contact-form-field-element-select {
  width: 90%;
  min-width: 90%;
  max-width: 90%;
  height: 50px;
  padding: 0 5%;
  margin: 0;
  border: 0;
  outline: 0;
  text-align: left;
  letter-spacing: 1px;
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 0 0 1px #cccccc;
  -moz-box-shadow: inset 0 0 0 1px #cccccc;
  box-shadow: inset 0 0 0 1px #cccccc;
}
.contact-form-field-element-input:active,
.contact-form-field-element-textarea:active,
.contact-form-field-element-select:active,
.contact-form-field-element-input:focus,
.contact-form-field-element-textarea:focus,
.contact-form-field-element-select:focus {
  background: #F9F9F9;
}
@media all and (min-width: 1000px) {
  .contact-form-field-element-input,
  .contact-form-field-element-textarea,
  .contact-form-field-element-select {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    padding: 0 10%;
  }
}
.contact-form-field-element-wrongfield {
  -webkit-box-shadow: 0 0 6px 1px rgba(222, 92, 94, 0.7);
  -moz-box-shadow: 0 0 6px 1px rgba(222, 92, 94, 0.7);
  box-shadow: 0 0 6px 1px rgba(222, 92, 94, 0.7);
}
.contact-form-field-element-select {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  padding: 0;
  text-indent: 5%;
  text-align: center !important;
}
@media all and (min-width: 1000px) {
  .contact-form-field-element-select {
    text-indent: 3.3%;
  }
}
.contact-form-field-element-select-icon {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.contact-form-field-element-textarea {
  height: 90px;
  min-height: 90px;
  max-height: 90px;
  padding: 1em 5%;
}
@media all and (min-width: 1000px) {
  .contact-form-field-element-textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 1.1em 0;
    text-indent: 3.3%;
  }
}
.contact-form-field-element-name {
  text-transform: capitalize;
}
.contact-form-field-element-button {
  text-align: center;
  border: 0;
  background-color: #3695ed;
  background-color: #147cdc;
  border-radius: 3px;
  padding: 18px 29px 18px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 0 #cccccc;
  -moz-box-shadow: inset 0 0 0 0 #cccccc;
  box-shadow: inset 0 0 0 0 #cccccc;
  letter-spacing: 1.7px;
  margin-top: .7em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
@media all and (min-width: 600px) and (max-width: 1000px) {
  .contact-form-field-element-button {
    margin-top: 1.5em;
  }
}
@media all and (min-width: 1000px) {
  .contact-form-field-element-button {
    padding: 18px 20px;
    margin-top: 1em;
  }
}
.contact-form-field-element-button:hover {
  background-color: #3695ed;
}
