
// Responsive layout dimensions
@mobile: 0;
@tablet: 600px;
@desktop: 1000px;
 
// Margin  
@marginmobile: 1.5em;
@margintablet: 2em;

// Text  
@paragraphSize: 16px;
@textBlack: #222;
@textBlue: #3695ed;
@textBlue-hover: #226AAD;
@lightGray: #f3f3f3;
@lightGrayBorder: #dfdfdf;

// Heights.
@headerHeight: 80px;
@productMargin : 1.5em;
 
// ServicesColors
@personal: #c75d29;
@personal-Hover: #8a3911;
@companies: #2a79c2;
@companies-Hover: #11508a;
@marketing: #bc9e26;
@marketing-Hover: #8a7211;

/***********************************/
/***********************************/
/************ FUNCTIONS *************/
/***********************************/
/***********************************/

.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.box-shadow(@horizontal, @vertical, @blur, @spread, @r, @g, @b, @opacity) {
	-webkit-box-shadow: @horizontal @vertical @blur @spread rgba(@r, @g, @b, @opacity);
	-moz-box-shadow:    @horizontal @vertical @blur @spread rgba(@r, @g, @b, @opacity);
	box-shadow:         @horizontal @vertical @blur @spread rgba(@r, @g, @b, @opacity);
}
.box-shadow-inner(@horizontal, @vertical, @blur, @spread, @r, @g, @b, @opacity) {
	-webkit-box-shadow: inset @horizontal @vertical @blur @spread rgba(@r, @g, @b, @opacity);
	-moz-box-shadow:    inset @horizontal @vertical @blur @spread rgba(@r, @g, @b, @opacity);
	box-shadow:         inset @horizontal @vertical @blur @spread rgba(@r, @g, @b, @opacity);
}
.transition(@time) { 
	-webkit-transition: all @time;
	-moz-transition: all @time;
	-o-transition: all @time;
	-ms-transition: all @time;
	transition: all @time;
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.transparentLink() {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}
//------------------------------------
// Fonts
//------------------------------------
 
@import "./fonts.less";

//------------------------------------//
//------------------------------------//
// 			Commun elements
//------------------------------------//
//------------------------------------//

body { 
	background: #ffffff;
	color: @textBlack;
	font-size: @paragraphSize;
	font-family: 'Lato', sans-serif;

	p, h1, h2, h3, h4, ul, li, a {
		margin: 0;
		padding: 0;
		color: #222; 
	}
	a  { 
		color: @textBlue; 
		.transition(0.3s);
		text-decoration: none;
	}
	ul {
		list-style: none;
	}
	div {
		.transition(0.3s); 
	} 
	&-overflow {
		overflow: hidden;
	}
}
 
// Desktop menu
@import "./header.less";


// Section
.section {
	// width: 100%;
	margin-top: 0;
	position: relative; 
	.content {
		margin-top: @headerHeight;  
		padding:2.5em @marginmobile; 

		@media all and (min-width: @tablet) and (max-width:@desktop) {
			padding:@margintablet;
		} 
		@media(min-width: @desktop) { 
			width: 1000px;
			display: block; 
			margin: 0 auto; 
			margin-top: @headerHeight; 
			padding:3em 0;
			padding-bottom: 5em;
		}
	} 
}

.commun {
	&-guide {
		// div id="" is assigned to guide in order to jump through different parts of the website.
		width: 100%;
		height: 1px; 
		position: absolute;
		top:0; 
		@media (min-width: @desktop) {
			margin-top: -@headerHeight;
		}
	}
	&-title {
		width: 100%;
		margin:0 0 1.5em 0; // Top and bottom margin
		font-size: 24px;
		font-weight: 300;
		line-height: 29px;
		font-style: normal; 
		text-align: center; 
		letter-spacing: 5px; 
		text-transform: uppercase;
		@media(min-width: @desktop) { 
			margin:0 0 1.9em 0; // Top and bottom margin
		}
	}
	&-subtitle {
		width: 100%;		
		padding: 0; 
		margin:0.6em 0 1em 0; // Top and bottom margin
		margin-bottom: 1em !important;
		font-size: 20px;
		font-weight: 500;
		line-height: 20px;
		font-style: normal; 
		text-align: left; 
		letter-spacing: 3px; 
		text-transform: uppercase;
	} 
	&-text {
		width: 100%;		
		padding: 0; 
		margin:0.6em 0 1em 0; // Top and bottom margin
		font-size: 16px;
		font-weight: 500;
		line-height: 20px;
		font-style: normal; 
		text-align: center; 
		letter-spacing: 1px;  
	}
	&-button {
		width: 100%;
		height: auto;
		padding: 1.4em 0;
		display: block;
		color: #ffffff; 
		background:@companies;

		border-bottom: 5px solid @companies-Hover;
		font-size: 1em;
		font-style: bold;
		font-weight: 400;
		text-align: center;
		line-height: 16px;  
		letter-spacing: 1px; 
		text-transform: uppercase;	
		margin-top: 1.5em;
		margin-bottom: 0em;
		.border-radius(5px);
 
		&:hover {
			background: lighten( @companies, 7%);
		} 

		@media (max-width: @tablet) {
 		}

	}
}
//------------------------------------
// 			Footer
//------------------------------------

@import "./footer.less";

//------------------------------------
// 			SLIDER
//------------------------------------

@import "./slider.less";

//------------------------------------
//------------------------------------ 
// 			  About us
//------------------------------------
//------------------------------------

.about {
	width: 100%;
}
.about {
	img {
		width: 100%;
	}
	&-middle {
		width: 100%;
	}
	&-separator {
		margin-top:3em;  
	}
	&-subtitle {
		letter-spacing: 0;
   		text-transform: inherit;
		margin: 0;
		padding: 0;
	}
	&-image {
		width:100%; 
		height:220px; 
		background-repeat:no-repeat; 
		background-size:cover; 
		display:block;  
		// @topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0
		.border-radiuses (6px, 6px, 6px, 6px);
	}
	&-text {
		width: 100%;
		margin: .5em 0;
		margin-bottom: 1.2em;
		letter-spacing: 0;
		line-height: 24px;
		font-size: 18px;
		text-align: left;
		font-style: normal;
		font-weight: 300;

		&-nomargin {
			margin-bottom: 0;
		}
	}
	&-list {
		width: 100%;
		margin: .5em 0; 
		list-style: none;
		position: relative; 
		min-height: 30px;

		a {
			margin: 0;  
			float: left;
			margin-top: 0.4em; 
			text-decoration: none;
			
			&:hover {
				text-decoration: underline; 
			}
		}

		&-text {
			letter-spacing: 0;
			line-height: 24px;
			font-size: 18px;
			text-align: left;
			font-style: normal;
			font-weight: 300; 
			display: inline-block; 
			position: relative;
			margin-left: 45px;
			vertical-align: middle;
			margin-top: .3em;
			// Emoji
			span {
				margin-right: 0.3em;
			}
		}
		&-icon {
			width: 30px;
			min-height: 30px;
			display: inline-block; 
			vertical-align: middle;
			margin-right: 1em; 
			position: absolute;
			left: 0;
			right: 0; 
			top: 8px;  
			background: rgba(244, 255, 255, 1);
			background: rgba(54, 149, 238, 0.05);
			background: none;
			// .translate (0, -50%);
			.border-radius(5px);
			.box-shadow-inner(0, 0, 2px, 0px, 0, 0, 0, .6);

			span {
				left: 50%;
				top: 50%;
				.translate (-50%, -52%);
				color: rgba(0, 0, 0, .6); 
				position: absolute;
			}
		}
		&-nomargin {
			margin-bottom: 0;
		}
	}
	&-link {
		text-align:center; 
		margin:0 auto; 
		margin-top:4em;
		@media all and (min-width: @tablet) {
			width:300px; 
		}
	}
	@media all and (max-width: @tablet) {

		&-image {
			margin-bottom: 1.5em;
		}
		&-image-computer {
			margin: 0 auto;
			margin-top: 1em;
			width: 260px;
			height: 190px;
		} 
		
	}
	@media all and (min-width: @tablet) and (max-width:@desktop) {
		
		&-image-computer {
			margin: 0 auto;
			margin-top: 3em;
			width: 440px;
			height: 350px;
		}
		&-image {
			height:320px;
			margin-bottom: 1.5em;
		} 

	} 
	@media(min-width: @desktop) { 

		&-image {
			height:350px; 
		}

		&-left,
		&-right{
			width: 48%;
			display: inline-block;
	    	vertical-align: middle; 
		} 
		&-left {
			margin-right: 3.5%;
		}

		&-link {  
			margin-top:5em;
		}
	}
}

//------------------------------------
//------------------------------------ 
// 			  Products
//------------------------------------
//------------------------------------

.services {
	min-height: 500px;

	&-buypannel {
		background: rgba(255, 255, 255, 0.8);
		position: absolute;
		bottom: 0;
		width: 998px;
		z-index: 10;
		display: none; 
		border-top:1px solid rgba(0, 0, 0, 0.1); 
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
 
 		@media all and (min-width: @desktop) { 
 			&.stuck {
 				position: fixed;
 				bottom: 0;
				display: block;
 			}
 			&.endpin {
 				position: absolute;
 				bottom: 0;
				display: block;
 			}
 		}
		
		&-buy {
			width: 33.333333333%;
			display: inline-block;
			margin-right: -4px; 
			padding: 1em 0;
			position: relative;
			span {
				margin:0 1em;
				display: block;
				a {
					margin: 0;
					border-bottom:0; 
				}
			}
			&:first-child:before {
				display: none;
			}
			&:before {
				width: 2px;
				margin-right: -1px;
				height: 100%;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				background: rgba(236, 236, 236, 0.5); 
			}
		} 
	}

	&-tab {
		display: block;
		border-bottom:0;  
		// border:1px solid @lightGrayBorder; 

		&-item {
			width: 33.55%;
			width: 33.333333333%;
			margin-right: -4px;
			// background: #f3f3f3;
			display: inline-block; 
			position: relative;
							// @topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0
			.border-radiuses (5px, 0, 0, 5px);
			.transition(200ms);

			a {
				display: block;
    			text-align: center;
				padding: @productMargin/2 0;
				.transparentLink(); // For mobile phones
				@media all and (min-width: @desktop) {
    				padding: @productMargin/2 @productMargin;
				}
			}
			span {
				width: 40px;
				height: 36px;  
				vertical-align: middle;
				display: inline-block;
				background: lighten(@textBlack, 40%);
				.border-radius(100%);
				text-align: center;
				font-size: 1.6em;
				padding-top: 4px;
				color: #ffffff;
				margin-bottom: 0.2em; 
				@media all and (min-width: @desktop) {
					margin-bottom: 0.3em; 
				}
			} 
			&-personal span { 
				background: @personal;
			}
			&-companies span {
				background: @companies;
			}
			&-marketing span {
				background: @marketing;
			}
			div {
				width: 100%;
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				position: relative;

				@media all and (max-width:@tablet) {
					height:40px;
				}

				p {
					line-height: 10px;
					margin-top: 7px;
					color: #cecece;
					display: none; 
					@media(min-width: @desktop) { 
						display: block; 
						margin-top: 5px;
						line-height: 10px;
					} 
				}
				h3 {
					font-size: 1em;
					font-style: bold;
					display: block;
					margin: 0 1em;
					position: relative;

					@media(max-width: @tablet) { 
						top: 50%;
						margin: 0 0em;
						.translate(0%, -50%);
					} 
					@media(min-width: @desktop) { 
						font-size: 1.3em;
					} 
				}
			} 
			&:hover {
				background: lighten(#f3f3f3, 1%);


				background: #ffffff;
				background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6));
				background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
				background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
				background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%);
				background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

				background: #f6f6f6;
				background: -moz-linear-gradient(top,  #f6f6f6 0%, #ffffff 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#ffffff));
				background: -webkit-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
				background: -o-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
				background: -ms-linear-gradient(top,  #f6f6f6 0%,#ffffff 100%);
				background: linear-gradient(to bottom,  #f6f6f6 0%,#ffffff 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0 );
			 
			}
			&-selected:hover,
			&-selected {
				background: #fff !important; 
				/* border:1px solid;
				border-color:@lightGrayBorder; */
				border-top:0;
				border-bottom: 0;  
			}
			&-selected a {
			    border: 1px solid;
			    border-color: #dfdfdf;  
			} 
			&-selected:before {
				border: 1px solid @lightGrayBorder;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
			}
			/*
			&-selected:before {
				position: absolute;
				width: 100%;
				height: 2px;
				background: @lightGrayBorder;
				top: 0;
				margin-top: 0;
				content: '';
				z-index: 10;
				// @topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0
				.border-radiuses (5px, 0, 0, 5px);
				.border-radius(100px);
				margin-top: 1px;
			}*/
			&-selected:after {
				height: 4px; 
				z-index: 10;
				bottom: 0;
				left: 1px;
				right: 1px;
				content: '';
				background: #ffffff;
				margin-bottom: -2px;
				position: absolute; 
			}
			 
		}
	}	
	&-content {
 		position: relative;
		text-align: center;
		border:1px solid @lightGrayBorder;
		overflow: hidden;	// IMPORTANTE, NO QUITAR!! Esto es un hack para hacer que los 3 divs tengan la misma altura (http://stackoverflow.com/questions/2997767/how-do-i-keep-two-divs-that-are-side-by-side-the-same-height)
 
		&-box {
			display: none; 
			&-showbox {
				display: block; 
			}
			@media(min-width: @desktop) { 
				padding-bottom: 85px;
			}
		}
		@media(min-width: @desktop) { 
			&-azul {
				.productBox:hover {
					background: #f4fcff;
					background: -moz-linear-gradient(top,  #ffffff 0%, #f4fcff 30%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4fcff));
					background: -webkit-linear-gradient(top,  #ffffff 0%, #f4fcff 30%);
					background: -o-linear-gradient(top,  #ffffff 0%, #f4fcff 30%);
					background: -ms-linear-gradient(top,  #ffffff 0%, #f4fcff 30%);
					background: linear-gradient(to bottom, #ffffff 0%, #f4fcff 30%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4fcff',GradientType=0 );
				} 
			} 
			&-orange {
				.productBox:hover {
					background: #FFF7F4;
					background: -moz-linear-gradient(top,  #ffffff 0%, #FFF7F4 30%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#FFF7F4));
					background: -webkit-linear-gradient(top,  #ffffff 0%, #FFF7F4 30%);
					background: -o-linear-gradient(top,  #ffffff 0%, #FFF7F4 30%);
					background: -ms-linear-gradient(top,  #ffffff 0%, #FFF7F4 30%);
					background: linear-gradient(to bottom, #ffffff 0%, #FFF7F4 30%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#FFF7F4',GradientType=0 );
				} 
			} 
			&-yellow {
				// Para el amarillo, como se dividen en varias columnas
				// poner de amarillo el product, no el product box.
				.product:hover { 
					background: -moz-linear-gradient(top,  #ffffff 0%, #fffef4 30%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fffef4));
					background: -webkit-linear-gradient(top,  #ffffff 0%, #fffef4 30%);
					background: -o-linear-gradient(top,  #ffffff 0%, #fffef4 30%);
					background: -ms-linear-gradient(top,  #ffffff 0%, #fffef4 30%);
					background: linear-gradient(to bottom, #ffffff 0%, #fffef4 30%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fffef4',GradientType=0 );
				} 
			}
		}
	}

	&-separator { 
		width:100%; 
		height: 2px;    
		background: #EFEDED;

		@media(min-width: @tablet) and (max-width: @desktop) { 
			display: none !important;
		}
		@media(max-width: @desktop) { 
			display: none !important;
		}
	}
	.product:first-child .productBox:before {
		background: red !important;
	}

	.product {
		width: 33.333333333%;
		display:inline-block;
		padding-bottom: 1em;
		margin-right: -4px; 
		vertical-align: top; 
		position: relative; 

		@media all and (max-width: @tablet) {
			width: 100%;
		}
		@media all and (min-width: @tablet) and (max-width:@desktop) {
			width:50%;
			&:nth-child(odd) .productBox {
				padding-left:  @productMargin; 
				padding-right: @productMargin / 2;
			} 
			&:nth-child(even) .productBox {
				padding-left:  @productMargin / 2; 
				padding-right: @productMargin;
			} 
		} 
		@media(min-width: @desktop) { 
			&:nth-child(1) .productBox:before {
				display: none; 		// Hide left line on first module  
			}
		}

		&Box {
	 
			position:relative; 
			padding:@productMargin; // Padding for the inner layer  
 			display: block;
			padding-bottom: 500px;	// Esto es un hack para hacer que los 3 divs tengan la misma altura (http://stackoverflow.com/questions/2997767/how-do-i-keep-two-divs-that-are-side-by-side-the-same-height)
			margin-bottom: -500px; // Esto es un hack para hacer que los 3 divs tengan la misma altura
	 	
			@media(max-width: @desktop) { 
				&:before {
					display: none;
				}
			}

		
			&:before {
				width:2px;
				margin-right:-1px;
				height:100%; 
				content: '';
				position:absolute;
				left:0;
				top:0;
				bottom: 0;

				background: #ffffff;
				background: -moz-linear-gradient(top,  #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), rgba(236, 236, 236, 0.76) 30%, color-stop(100%,#ffffff));
				background: -webkit-linear-gradient(top,  #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
				background: -o-linear-gradient(top,  #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
				background: -ms-linear-gradient(top,  #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
				background: linear-gradient(to bottom, #ffffff 0%, rgba(236, 236, 236, 0.76) 30%, #ffffff 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );

			}

			p {
				width: 100%;  
				margin: .5em 0 1.2em 0; 
				font-size: 18px;
				font-weight: 300;
				font-style: normal;
				text-align: left;
				letter-spacing: 0;
				line-height: 24px;
			}
			
			// Elements for service Item

			&-image {
				width: 100%; 
				height: 150px;
				margin-bottom: @productMargin;
				background: 50% 50% no-repeat;
				background-size: auto 100%; 
				 
				&-noscale {
					transform: scale(0);
				}
			} 
			&-title {
				width: 100%;  
				margin: .5em 0;
				margin-bottom: 0;
				font-size: 32px;
				font-weight: 300;
				font-style: normal;
				text-align: center;
				text-transform: none;
				letter-spacing: 0;
				line-height: 32px;
			}
			&-subtitle {
				width: 100%;  
				height: 32px;
				margin-bottom: 1em; 
				font-size: 14px;
				line-height: 16px;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 300;
				font-style: normal;
				margin: 1.2em 0;
				text-align: center;
				position: relative; 

				span {
					top: 50%;
					left: 0;
					right: 0;
					position: absolute;
					.translate(0, -50%);
				}
			}
			&-include { 
				position: relative;
				text-align: center;
				display: block; 
				span {
					background: #F3F3F3;
					background: rgba(236, 236, 236, 0.5);
					display: inline-block;
					text-align: center;
					position: relative;
					padding: 1px 10px;
					.border-radius(3px);
					left: 50%;
					.translate(-50%, 0);
					font-size: 12px;
				}
				&:before {
					width: 100%;
					height: 1px;
					position: absolute;
					top: 50%;
					float: left;
					content: '';
					.translate(0, -50%);
					background: #F3F3F3;
					background: rgba(236, 236, 236, 0.5);
				}
				&.blue {
					span {
						background:#D1E5F9;
					}
					&:before {
						background:#D1E5F9;
					}
				}
				&.orange {
					span {
						background:#FFE7DA;
					}
					&:before {
						background:#FFE7DA;
					}
				}
				&.yellow {
					span {
						background:#D1E5F9;
					}
					&:before {
						background:#D1E5F9;
					}
				}
			}
			&-buy {
				@media(min-width: @desktop) { 
					display: none;
				} 
				&-marketing {
					@media(min-width: @desktop) { 
						display: block !important;
					}
				}
			}
			&-othersdescription {
				@media all and (min-width:@desktop) {
					height: 200px;
					overflow: auto;
				}
			}
			// Big button to buy a plan
			&-button {
				width: 100%;
				height: auto;
				padding: 1.3em 0;
				display: block;
				color: #ffffff; 
				background: #4A4A4A;
				border-bottom: 5px solid @textBlack;
				font-size: 1em;
				font-style: bold;
				font-weight: 400;
				text-align: center;
				line-height: 16px;  
				letter-spacing: 1px; 
				text-transform: uppercase;	
				margin-top: 1.5em;
				margin-bottom: 1.5em;
				.border-radius(5px);

				&-personal {
					// Button for personal websites
					background:@personal;
					border-bottom-color:@personal-Hover;
					&:hover {
						background: lighten(@personal, 5%);
					}
				}
				&-companies {
					// Button for Companies
					background:@companies;
					border-bottom-color:@companies-Hover;
					&:hover {
						background: lighten(@companies, 5%);
					}
				}
				&-marketing {
					// Button for Marketing and SEO
					background:@marketing;
					border-bottom-color:@marketing-Hover;
					&:hover {
						background: lighten(@marketing, 5%);
					}
				}
			}

	  		// Show all the features for a given plan
			&-featureList {
				display: block; 

				li {
					width: 100%;
					display: inline-block;
					list-style: none; 
					margin-bottom: 0.6em; 
					padding-bottom: 0.6em; 
					border-bottom: 1px dashed #f0f0f0;
					font-size: 18px;
					line-height: 20px;
					letter-spacing: 0.3px;
					font-size: 15px;
					line-height: 20px;
					letter-spacing: 0;
					font-weight: 300;
					font-style: normal; 
					text-align:left;
					span {
						margin-right: 0.7em;
					}
				}
			}
		}
	}
}  

//------------------------------------
//------------------------------------ 
// 			  Portfolio
//------------------------------------
//------------------------------------
 
.portfolio {
	width: 100%;
	&Box {
		width: 100%;
		position: relative;
		margin-bottom: 1.5em;

		// (@horizontal, @vertical, @blur, @spread, @r, @g, @b, @opacity) {
		.box-shadow-inner(0, 0, 30px, 5px, 50, 50, 50, 0.28);
 
		&:hover .portfolioBox-options {
			display: block; 
		}
		&:nth-child(even) .portfolioBox-image { 
			background-color: #222;
		} 

		&-image { 
			height: 200px; 
			display: block;
			background: @lightGray;
			background-size:cover; 
			position: relative;

			@media all and (max-width: @tablet) {
				background-position: 50% 0%;
				background-size: 140% auto ;
				left: 0;
				right: 0; 

			}
			@media all and (min-width:@tablet) and (max-width: @desktop) {
				height: 320px;
			}
			@media all and (min-width:@desktop) {
				height: 500px;
			}
		}
		&:hover .portfolioBox-link a {
			background: rgba(0, 0, 0, 0.5);
			background: rgba(54, 149, 237, 0.7);
			background: rgba(255,255,255, 0.7);
		}
		&-link {
			a {
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		&-options { 
			height: 60px;
			display: block;
   			position: relative;
   			background: @lightGray;
   			border: 1px solid @lightGrayBorder; 
			.transition(0.3s); 

   			@media all and (min-width:@desktop) {
   				top: 50%;
   				left: 50%;
   				border: 0;
   				max-width: 350px;
   				height: auto;
   				position: absolute;
   				background: transparent;
   				.translate(-50%, -50%); 
   				display: none;
   			}

   			&-title {
   				top: 0;
   				left: 0;
   				right: 0;
   				height: 100%; 
   				position: absolute;
   				display: inline-block; 

   				a {
   					width: 100%;
   					height: 100%;
   					display: block; 
   					vertical-align: top;
   				}
   				h4 {
   					margin-top: 1.27em;
   					padding-left: 1.27em; 
   					overflow: hidden;
	   				@media all and (max-width:@tablet) {
	   					height: 19px;
	   				}
	   				@media all and (min-width:@desktop) {
	   					color: #ffffff;  
   						color: #222222;
   						opacity: .8;
	   					margin: .8em 0; 
   						padding: 0 1em;
	   				}
   				}
   				@media all and (min-width:@desktop) {
   					width: 100%;
   					color: #ffffff;
   					height: auto;
   					font-size: 1.5em;
   					text-align: center;
   					position: relative;
   					background: rgba(255, 255, 255, 0.9); 
   					margin-bottom: 0;
   					.border-radius(5px);
   				}
   				
   			}
   			&-buttons {
   				right: 0;
   				position: absolute;
   				display: inline-block;

   				@media all and (max-width:@desktop) { 
   					display: none;
   				}
   				@media all and (min-width:@desktop) { 
   					width: 100%;
   					left: 0;
   					position: relative;
   					margin: 0;
   					text-align: center;
   					display: none;
   				}
   				li {
   					width: 60px;
   					height: 60px; 
   					display: inline-block;
   					margin-right: -4px; 
   					border-left: 1px solid @lightGrayBorder;
   					text-align: center;

   					a {
   						width: 100%;
   						height: 100%;
   						display: block; 
   					}
   					span {
   						&:before {
   							padding-top: 21px;
   							font-size: 24px;
   							display: block;
   							color: lighten(@textBlack, 50%);
   						}
   					}
   					@media all and (min-width:@desktop) { 
 
						background: #ffffff;
						.border-radius(100%); 
						margin-right: .5em;
   					}
   				}
   			}
		}
	} 
}

//------------------------------------
//------------------------------------ 
// 			  Contacta
//------------------------------------
//------------------------------------

.contact {
    background: #F8F8F8;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top:1.5em;

	@media all and (min-width:@desktop) { 
    	margin-top:1.5em;
	}

	// Contact bomttom banners.   
    &-banner {

    	width: 99%;
    	min-height: 92px;
    	padding: 1em 0;
    	margin-top: 1.5em;
    	border:1px solid @lightGrayBorder; 
    	// display: inline-block;
    	vertical-align: top;
    	position: relative;

    	&:nth-child(2) {
    		margin-top: 0;
    	}

		@media all and (min-width:@desktop) { 
			width: 48.5%;
			margin-right: 2%;   
    		margin-top: 0; 
		}
    	&-image {
    		width: 100px;
    		height: 100px; 
    		display: inline-block;
    		background: no-repeat;
    		background-size: auto 100%;
    		background-image: none !important;
    		background-position: 50% 0;
    		vertical-align: middle;
    		margin-left: 1em;
    		text-align: center;
    		float: left;
    		position: absolute;
    	}
    	&-image span:before { 
    		padding-top: 23px;
    		display: block;
    	}
    	&-image span:before {
    		font-size: 50px; 
    		color: @textBlue; 
   			color: rgba(34,34,34,.5);
    	}
    	&-info { 
    		vertical-align: middle;
    		// position: absolute;
    		// left: 100px;
    		// right: 1em;
	    	//	margin-left: 1.5em; 
    		margin-left: 125px;
    		margin-right: 1em;
    	}
    	&-info h4 {
    		font-size: 1.2em;
    		color: rgba(34, 34, 34, 0.7);
    		margin: 0;
    		padding: 0;
    		margin-bottom: 0.5em;
    	}
    	&-info p {
    		margin-bottom: 0.2em; 
    		color: rgba(34, 34, 34, 0.5);
    		text-overflow: ellipsis;
    	}
    	img {
    		width: 100%;
    	}
    } 
    &-location {
    	margin-right: 0% !important;   
    }
}
.contact-form { 

	padding: 1em;
	display: block;	
	margin-bottom: 2em !important;
  
	@media all and (max-width:@tablet) {
		padding: 2em 1em;
	}
	@media all and (min-width:670px) {
		width: 560px;  
		margin: 0 auto; 
		margin-top: 2em;
		padding: 3em 0;
		display: block;
	} 
	@media all and (min-width:@desktop) {
		width: auto;  
		margin: 0 auto; 
		margin: 0 2.5em;  
		padding: 2em 0;
    	display: block;
	} 

	&-subtitle {
		font-size: 1.2em;
		margin-bottom: 1em;
		opacity: .6;
		text-align: center;
    	// padding: 0 5%; 
    	@media all and (min-width:600px) {
    		margin-bottom: 1.5em;
    	} 
	} 
	&-separator {
		width: 100%;
		display: block;
	}
	&-roundresponse {
		/*
		width: 50px;
		height: 50px;
		width: 70px;
		height: 70px;
		*/
		text-align: center;
		margin: 0 auto;
		margin-bottom: 2em; 
		text-align: center;

    	@media all and (max-width:@tablet) {
			margin-top: 1.2em; 
    	} 
		span {
			.border-radius(100%);
			background: #f4f4f4;
			font-size: 2.1em; 
			display: inline-block; 
			color: #ffffff;
			padding: .8em; 
		}

		&-green span {
			background: #61ed36;
		}
		&-red span {
			background: #ed3636;
		}
	}
	
	// Sent message
	&-loading {
		width: 40px;
		height: 40px;
		margin: 5em auto;
		background: url(../images/loading.gif) 50% 50%;
		background-size: 100%; 
		display: none; 
	    .transition(3px); 
	}
	&-loading-appear { 
		-ms-transform: scale(1); /* IE 9 */
	    -webkit-transform: scale(1); /* Chrome, Safari, Opera */
	    transform: scale(1);
	    opacity: 1;  
	}
	// Sent message
	&-sent {
		display: none; 
		@media all and (min-width:600px) {
			width: 560px;  
			margin: 0 auto; 
			margin-top: 0;
			padding: 1em 0; 
			padding-bottom: 0;
		} 
	}
	// This is used when the contact form diasspear.
	&-content-disappear {
		-ms-transform: scale(0); /* IE 9 */
	    -webkit-transform: scale(0); /* Chrome, Safari, Opera */
	    transform: scale(0);
	    opacity: 0; 
	}

	// Message when the form is sent

	&-messagetitle {
		font-size: 1.5em;
		margin-bottom: 1em;
		text-align: center; 
	}
	&-message {
		font-size: 1.2em;
		margin-bottom: 1.5em;
		text-align: center; 
		 
		i {
			margin-top: 0.5em;
			font-size: .8em;
			line-height: .8em;
		}
	}
	// Form fields 
	&-field { 

	    margin: 0;
	    padding: 0;
	    border: 0;
	    margin-bottom: 1em;
	    text-align: center;
	    display: block;
	    height: auto;

    	@media all and (min-width:@desktop) {
   			width: 32%;
    		display: inline-block;
    		margin-right: -4px;
    		margin-left: 2%;
    		vertical-align: middle;

    		&:first-child {
    			margin-left: 0;
    		}

    		&-subject,
    		&-message,
    		&-button {
    			width: 100%;
    			margin-left: 0;
    		}

    	} 

	    &-text {
	    	font-size: 1em;
	    	margin-bottom: 0.5em;
	    	text-align: left;
	    	display: none;
	    	span {
	    		opacity: .5;
	    		font-style: italic;
	    	}
	    }
	    // Inside element we have inputs and textarea
	    &-element {

	    	width: 100%;
	    	min-height: 50px;
	    	position: relative;
	    	display: block;
	    	background: #ffffff;

	    	&-input {
	    		// The user introduced text will show on blue
	    		color: @textBlue; 
	    	}

	    	&-input,
	    	&-textarea,
	    	&-select {  
	    		width: 90%;
	    		min-width: 90%;
	    		max-width: 90%;
	    		height: 50px;
	    		padding:0 5%;
	    		margin: 0; 
	    		border: 0;  
	    		outline: 0;
	    		// Text style
	    		text-align: left;
	    		letter-spacing: 1px;
 	    		background: transparent;
 	    		-webkit-appearance:none;

 	    		-webkit-box-shadow: inset 0 0 0 1px rgba(204, 204, 204, 1);
 	    		-moz-box-shadow:    inset 0 0 0 1px rgba(204, 204, 204, 1);
 	    		box-shadow:         inset 0 0 0 1px rgba(204, 204, 204, 1);	
		   		&:active,
		   		&:focus { 
			    		background:#F9F9F9; 
		   		}
    		 	@media all and (min-width:@desktop) {
    		 		width: 80%;
    		 		min-width: 80%;
    		 		max-width: 80%;
    		 		padding:0 10%;
    		 	} 

	    	}
	    	// Use for ajax validation
	    	&-wrongfield {
	    		-webkit-box-shadow: 0 0 6px 1px rgba(222, 92, 94, 0.7);
	    		-moz-box-shadow:    0 0 6px 1px rgba(222, 92, 94, 0.7);
	    		box-shadow:         0 0 6px 1px rgba(222, 92, 94, 0.7);
	    	}
	    	&-select {
	    		width: 100% !important;
	    		min-width: 100% !important;
	    		max-width: 100% !important;
	    		padding: 0; 
	    		text-indent: 5%;
	    		text-align: center !important;

	    		@media all and (min-width:@desktop) {
	    			text-indent: 3.3%;
	    		} 

	    		&-icon {
	    			position: absolute;
	    			top: 0.5em;
	    			right: 1em;
	    			font-size: 1.6em;
	    			color: rgba(0, 0, 0, 0.5);
	    			z-index: 2;
	    		}
	    	}  
		    &-textarea { 
		    	height: 90px;
		    	min-height: 90px;
		    	max-height: 90px;
	    		padding: 1em 5%;

	    		@media all and (min-width:@desktop) {
	    			width: 100%;
	    			min-width: 100%;
	    			max-width: 100%;
	    			padding:1.1em 0;
	    			text-indent: 3.3%;
	    		} 
		    }
	    	&-name {
	    		text-transform: capitalize;
	    	}
	    	&-button {

	    		text-align: center;
	    		border: 0;

	    		background-color: @textBlue;
	    		background-color: darken(@textBlue, 10%);

	    		border-radius: 3px;
	    		padding: 18px 29px 18px;
	    		font-size: 14px;
	    		text-transform: uppercase;
	    		letter-spacing: 3px;
	    		font-weight: 400;
	    		font-style: normal;
	    		line-height: 1;
	    		color: #ffffff;
	    		text-decoration: none;
	    		display: block;
	    		margin: 0 auto;
	    		text-align: center;
	    		border-radius: 3px;
	    		-webkit-box-shadow: inset 0 0 0 0 rgba(204, 204, 204, 1);
	    		-moz-box-shadow:    inset 0 0 0 0 rgba(204, 204, 204, 1);
	    		box-shadow:         inset 0 0 0 0 rgba(204, 204, 204, 1);
	    		letter-spacing: 1.7px;

	    		margin-top: .5em;


    			@media all and (min-width:@desktop) {  
	    			padding: 18px 20px;
    		    	margin-top:1em; 
    			}


	    		.transition(0.2s);

	    		&:hover {
	    			background-color: @textBlue;
	    		}

	    	}
	    }
	}
}


